title = "Корзина"
url = "/cart"
layout = "default"
is_hidden = 0
==

<div class="ro-section ro-section-cart">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h4>ВАША КОРЗИНА:</h4>
          <form class="ro-cart-form">
            <div data-mcs-theme="minimal-dark" data-mcs-axis="x" id="ro-cart-table-scroll" class="ro-cart-table mCustomScrollbar">
              <table>
                <thead>
                  <tr>
                    <th class="ro-table-col-product text-center">Продукт</th>
                    <th class="ro-table-col-name">Имя</th>
                    <th class="ro-table-col-price text-center">Цена</th>
                    <th class="ro-table-col-qty text-center">Количество</th>
                    <th class="ro-table-col-total text-center">Общая стоимость</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td class="text-center">ОБЩАЯ СТОИМОСТЬ:</td>
                    <td colspan="3"></td>
                    <td class="text-center ro-price total-price">{% partial 'cart/_total_price' %}</td>
                  </tr>
                </tfoot>
                <tbody class="cart-item">
                      {% partial 'cart/_cart-item' %}
                </tbody>
              </table>
            </div>
            <div class="ro-button clearfix"><a href="{{ 'checkout' | page }}">ОФОРМИТЬ ЗАКАЗ</a></div>
          </form>
        </div>
      </div>
    </div>
  </div>