title = "Оформление заказа"
url = "/checkout"
layout = "default"
is_hidden = 0
==
<?php
	function onStart(){
		$this['p_method'] = \Snapix\Catalog\Models\PaymentMethod::all();
	}
?>
==



<div class="ro-section checkout-one">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <div class="ro-checkout-process">
          <div class="ro-hr-line"><a>
              <div class="active-checkout"></div>
            </a><span>Доставка</span><a>
              <div></div>
            </a><span>Оплата</span><a>
              <div></div>
            </a><span>Завершено</span></div>
        </div>
        <form class="ro-checkout-information">
          <div class="ro-customer-info">
            <h4>СПОСОБ ДОСТАВКИ</h4>
            <div class="ro-choice delivery-click">
              {% partial 'delivery/delivery-methods' methods=Basket.newMethods %}
            </div>
            <div class="ro-divide"></div>
          </div>
          <div class="ro-shipping">
            <h4>АДРЕС ДОСТАВКИ</h4>
            <div class="ro-content form-checkout">

              <div class="user-name"><span class="fw500">ФИО :</span>
                <input type="text" name="name" />
              </div>

              <div class="user-name"><span class="fw500">E-MAIL :</span>
                <input type="text" name="email" />
              </div>

              <div class="user-phone"><span class="fw500">ТЕЛЕФОН :</span>
                <input type="text" name="phone" />
              </div>

              <div class="user-adres"><span class="fw500">АДРЕС :</span>
                <input type="text" name="address" />
              </div>

              <div class="user-city"><span class="fw500">ГОРОД:</span>
                <input type="text" name="city" />
              </div>

              <div class="user-index"><span class="fw500">ИНДЕКС :</span>
                <input type="text" name="post_code" />
              </div>

            </div>
            <div id="error-msg" class="text-center"></div>
            <div class="ro-button">
              <a class="cursor-pointer next-checkout">ПРОДОЛЖИТЬ</a>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="ro-checkout-summary">
          <div class="ro-title">
            <h4>СУММА ЗАКАЗА</h4>
          </div>
          <div class="ro-body">
            <form>
              {% partial 'order/order-items' %}
            </form>
          </div>
          <div class="ro-footer">
            <div>
              <p>Общая стоимость товара<span>{% partial 'cart/_total_price' %}</span></p>
              <div class="ro-divide"></div>
            </div>
            <div>
              <p>Доставка<span class="d-price">{% partial 'delivery/delivery-price' %}</span></p>
              <div class="ro-divide"></div>
            </div>
            <div>
              <p>Стоимость заказа
                <span class="d-total-price">
                  {% partial 'delivery/delivery-total-price' %}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="ro-section checkout-two">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <div class="ro-checkout-process ro-process-2">
          <div class="ro-hr-line"><a>
              <div class="active-checkout"></div>
            </a><span>Доставка</span><a>
              <div class="active-checkout"></div>
            </a><span>Оплата</span><a>
              <div></div>
            </a><span>Завершено</span></div>
        </div>
        <form class="ro-checkout-information-2">
          <div class="ro-customer-info">
            <div class="ro-title">
              <h4>ИНФОРМАЦИЯ</h4><span><a class="to_change cursor-pointer"">ИЗМЕНИТЬ</a></span>
              </div>
              <div class=" ro-content">
                  <div class="ro-info">
                    <p class="client-name"></p>
                    <p class="client-phone"></p>
                    <p class="client-email"></p>
                  </div>
                  <div class="ro-info">
                    <p class="client-address"></p>
                    <p class="client-city"></p>
                    <p class="client-post-code"></p>
                  </div>
            </div>
            <div class="ro-divide"></div>
            <h4 class=" mr-t-lg">СПОСОБ ОПЛАТЫ</h4>
            <div class="ro-choice delivery-click">
              {% for item in p_method %}
              <label>
                <a class='flex click-method cursor-pointer fw500' 
                data-request="onSendPayment"
				        data-request-data="method_id : {{ item.id }}"
                  data-request-data="delivery_id : {{ item.id }}, delivery_price: {{ item.price_change }}">
                  <span class="delivery-circle {%if item.id==3%}active{%endif%} mr-r-md"></span> {{item.name}}
                </a>
              </label>
              <br>
              {% endfor %}
            </div>
            
          </div>
          <div id="email_no_valid"></div>
          <div class="ro-button"><a id="checkout" class="cursor-pointer checkout">ЗАКАЗАТЬ</a></div>
        </form>

      </div>
      <div class="col-md-5 col-xs-12">
        <div class="ro-checkout-summary">
          <div class="ro-title">
            <h4>СУММА ЗАКАЗА</h4>
          </div>
          <div class="ro-body">
            <form>
              {% partial 'order/order-items' %}
            </form>
          </div>
          <div class="ro-footer">
            <div>
              <p>Общая стоимость товара<span>{% partial 'cart/_total_price' %}</span></p>
              <div class="ro-divide"></div>
            </div>
            <div>
              <p>Доставка<span class="d-price">{% partial 'delivery/delivery-price' %}</span></p>
              <div class="ro-divide"></div>
            </div>
            <div>
              <p>Стоимость заказа
                <span class="d-total-price">
                  {% partial 'delivery/delivery-total-price' %}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="checkout_end" class="none">
  <h1>Спасибо за ваш заказ!</h1> <br>
  <a href="{{ 'homepage'  | page}}">Перейти в магазин</a>
</div>