title = "Главная"
url = "/"
layout = "default"
is_hidden = 0
==

<header class="ro-shop-header ro-section ro-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12 ro-section-mb">
                <div class="ro-slider-style-1-wrapper">
                    <div id="ro-slider-style-1"
                        style="position: relative; top: 0px; left: 0px; width: 770px; height: 500px; margin:0 auto;"
                        class="ro-slider-style-1">
                        <div data-u="slides"
                            style="cursor: pointer; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 770px; height: 500px;">
                            <div><img src="{{ 'assets/images/girl.png' | theme }}" alt="shop header"
                                    data-u="image">
                                <div data-u="caption" data-t="FADE"
                                    style="position: absolute; top: 165px; left: 360px; width: 300px;height:2px; background-color: #444">
                                </div>
                                <div data-u="caption" data-t="R" data-t2="L"
                                    style="position: absolute; top: 30px; left: 230px; width:400px;"><span
                                        style="font-size: 48px">СКИДКА</span><span style="font-size: 89px"></span>
                                </div>
                                <div data-u="caption" data-t="L" data-t2="R"
                                    style="position: absolute; top: 170px; left: 475px; width: 300px;"><i
                                        class="ro-font-size-3"></i></div>
                            </div>
                            <div><img src="{{ 'assets/images/soap.jpg' | theme }}" alt="shop header"
                                    data-u="image">
                                <div data-u="caption" data-t="R" data-t2="FADE"
                                    style="position: absolute; top: 30px; left: 230px; width:400px;"><span
                                        style="font-size: 48px">СКИДКА</span><span style="font-size: 89px">50%</span>
                                </div>
                                <div data-u="caption" data-t="R" data-t2="FADE"
                                    style="position: absolute; top: 165px; left: 360px; width: 300px;height:2px; background-color: #444">
                                </div>
                                <div data-u="caption" data-t="R" data-t2="FADE"
                                    style="position: absolute; top: 170px; left: 475px; width: 300px;"><i
                                        class="ro-font-size-3">НА КРЕМ ДЛЯ ЛИЦА</i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 ro-section-mb">
                <div class="ro-shop-header-right"><img src="{{ 'assets/images/soap.jpg' | theme }}" alt="img"
                        class="img-responsive">
                    <div class="ro-overlay text-center">
                        <div class="ro-cell-vertical-wrapper">
                            <div class="ro-cell-bottom">
                                <h3 class="ro-hr-heading">ГОРЯЧЕЕ ПРЕДЛОЖЕНИЕ</h3>
                                <p class="ro-font-size-4 ro-light-text"><i>ЭТОЙ ВЕСНОЙ</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>







<div class="ro-section">
    <div class="container">
        <ul class="ro-shop-tab-controler">
            {% for item in main_category %}
                <li class="{% if item.id == 1 %}active {% endif %}"><a href="#ro-shop-{{item.slug}}" data-toggle="tab">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
        <div id="ro-shop-tab" class="tab-content">


            {% for item in main_category %}
            <div id="ro-shop-{{ item.slug }}" class="tab-pane fade {% if item.id == 1 %}active in{% endif %}">
                <div class="row">
                {% for child in item.child_category %}
                    {% for product in child.products %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="ro-shop-tab-item">
                                <div class="ro-image"><img src="{{ product.images[0].path }}" alt="product" />
                                    <div class="ro-overlay">
                                        <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                                            <div class="ro-cell-middle"><a class="cursor-pointer"
                                                data-request="onAddCartProduct"
                                                data-request-data="id: {{ product.id }}, qty: 1">
                                                <i class="icon-ecommerce-cart"></i></a><a href="#"><i
                                                        class="icon-basic-heart"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ro-content"><a href="/product/{{ product.slug }}">
                                        <h5>{{ product.name }}</h5>
                                    </a>
                                    <h3 class="ro-color-main">{{ product.price }} Р.</h3>
                                    <div data-rating="4" class="ro-rating">
                                        <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<nav class="text-center ro-section-mb-small">
    <ul class="pagination clearfix">
        <li><a href="#"><i class="icon-arrows-slim-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><i class="icon-arrows-slim-right"></i></a></li>
    </ul>
</nav>
</div>
</div>

<div id="ro-backtop"><i class="icon-up"></i></div>