title = "Продукт"
url = "/product/:slug"
layout = "default"
is_hidden = 0
==
function onStart(){
    $this['product'] = \Snapix\Catalog\Models\Product::where('slug', '=', $this->param('slug'))->first();
}
==


<div class="ro-section">
        <div class="ro-product-page">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="ro-title">
                  <h4>ПРОДУКТ:</h4>
                </div>
              </div>
            </div>
            <div class="row ro-product-wrapper">
              <div class="col-md-5 col-sm-9 col-xs-12">
                <div class="ro-product-image">
                  <div id="Ro_zoom_image" class="ro-image"><img src="{{ product.images[0].path }}"
                     data-zoom-image="{{ 'assets/images/product-img-large.jpg' | theme }}" alt="Product Item" class="ro-zoom-image-0"/></div>
                  <div class="ro-footer clearfix"><a class="cursor-pointer" data-request="onAddCartProduct"
                    data-request-data="id: {{ product.id }}, qty: 1">
                      <div>В КОРЗИНУ</div></a><a  href="#">
                      <div class="w500">Подробнее</div></a>
                  </div>
                </div>
              </div>

              <div class="col-md-1 col-sm-3 col-xs-12 ro-product-option-wrapper">
                <div data-mcs-theme="minimal-dark" id="Ro_gallery_0" class="ro-product-option mCustomScrollbar">
                    <a href="#" data-image="{{ 'assets/images/product-img-large.jpg' | theme }}" 
                    data-zoom-image="{{ 'assets/images/product-img-large.jpg' | theme }}">
                    <img src="{{ 'assets/images/product-img-small.jpg' | theme }}" 
                    alt="zoom image" class="ro-zoom-image-0"/></a>
                    <a href="#" data-image="{{ 'assets/images/product-img-large.jpg' | theme }}" 
                    data-zoom-image="{{ 'assets/images/product-img-large.jpg' | theme }}">
                    <img src="{{ 'assets/images/product-img-small2.jpg' | theme }}" alt="zoom image" 
                    class="ro-zoom-image-0"/></a><a href="#" 
                    data-image="{{ 'assets/images/product-img-large3.jpg' | theme }}" 
                    data-zoom-image="{{ 'assets/images/product-img-large3.jpg' | theme }}">
                    <img src="{{ 'assets/images/product-img-small3.jpg' | theme }}" alt="zoom image" class="ro-zoom-image-0"/></a></div>
              </div>

              <div class="col-md-6 col-xs-12">
                <div class="ro-product-information">
                  <div class="ro-head">
                    <h4>{{ product.name }}</h4>
                    <h2>{{ product.price }} Р.</h2>
                  </div>
                  <form class="ro-body">
                    <div class="ro-rate">
                      <div>
                        <p>Рейтинг:</p>
                      </div>
                      <div data-rating='3' class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
                    </div>
                    <div class="ro-size">
            
                    </div>
                    <div class="ro-quantity">
           
                    </div>
          
                  </form>
                  <div class="ro-footer">
                    <h6>Описание</h6>
                    {{ product.description | raw }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row ro-product-relate">
              <div class="col-xs-12">
                <div class="ro-divide"></div>
              </div>
              <div class="col-xs-12">
                <h4>ПОХОЖИЕ ТОВАРЫ</h4>
              </div>
              <div class="ro-content clearfix">
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="ro-image"><a href="#">
                      <div><img src="{{ 'assets/images/product1.jpg'| theme }}" alt="Product Item"/></div></a></div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="ro-image"><a href="#">
                      <div><img src="{{ 'assets/images/product2.jpg'| theme }}" alt="Product Item"/></div></a></div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="ro-image"><a href="#">
                      <div><img src="{{ 'assets/images/product3.jpg'| theme }}" alt="Product Item"/></div></a></div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="ro-image"><a href="#">
                      <div><img src="{{ 'assets/images/product4.jpg'| theme }}" alt="Product Item"/></div></a></div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="ro-image"><a href="#">
                      <div><img src="{{ 'assets/images/product5.jpg'| theme }}" alt="Product Item"/></div></a></div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="ro-image"><a href="#">
                      <div><img src="{{ 'assets/images/product6.jpg'| theme }}" alt="Product Item"/></div></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>