title = "Магазин"
url = "/shop/:slug"
layout = "default"
is_hidden = 0
==
function onStart(){
$this['category'] = \Snapix\Catalog\Models\Category::where('slug', '=', $this->param('slug'))->first();
}
==
<div class="ro-section ro-padding-top">
    <div class="container">
        <div class="row ro-section-mb">
            <div class="col-lg-8 col-lg-offset-2 text-center ro-shop-intro">
               {{ category.description|raw }}
            </div>
        </div>
        <div class="row ro-section-mb">

            {% for product in category.products %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="ro-shop-item ro-center-block"><img src="{{ product.images[0].path }}" alt="shop image"
                        class="img-responsive" />
                    <div class="ro-overlay">
                        <div class="ro-shop-overlay ro-cell-vertical-wrapper text-center">
                            <div class="ro-cell-middle">
                                <h4 class="ro-shop-item-name-1"><a href="/product/{{ product.slug }}">{{ product.name }}</a></h4>
                                <h2 class="ro-shop-item-price-1">{{ product.price }} Р.</h2>
                                <a class="cursor-pointer ro-btn-bd-2"
                                    data-request="onAddCartProduct"
                                    data-request-data="id: {{ product.id }}, qty: 1"
                                >В корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>