[\Snapix\Catalog\Components\Basket Basket]

description = "Default layout"
==
function onStart(){
    $this['main_category'] = \Snapix\Catalog\Models\ParentCategory::all();
  }
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>October CMS - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">

        <link rel="stylesheet" href="{{ 'assets/fonts/icon-fonts/styles.css' | theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/plugins.css' | theme }}">
        <link rel="stylesheet" href="{{ 'assets/javascript/flexslider/flexslider.css' | theme }}">
        <link rel="stylesheet" href="{{ 'assets/javascript/FancyBox/source/jquery.fancybox.css' | theme }}">
        <link rel="stylesheet" href="{{ 'assets/javascript/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' | theme }}">
        <link rel="stylesheet" href="{{ 'assets/less/style.css' | theme }}">
        <!-- endbuild -->
        <!-- build:css assets/styles/main-min.css -->
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | theme}}">
        <!-- endbuild -->
        <!-- build:js vendors/vendors-compressed/modernizr.js -->
        <script type="text/javascript"  src="{{ 'assets/javascript/modernizr/modernizr.js' | theme }}"></script>


        {% styles %}
    </head>
    <body>

    {% partial 'nav' %}

    <div id="ro-main" class="ro-main clearfix">
    {% page %}
    </div>
    {% partial 'footer' %}

    <!-- Scripts -->

    <script type="text/javascript" src="{{[
        'assets/javascript/jquery/dist/jquery.min.js',
        'assets/javascript/dev.js',
        'assets/javascript/bootstrap/dist/js/bootstrap.min.js',   
        'assets/javascript/flexslider/jquery.flexslider-min.js',
        'assets/javascript/jssor-slider/js/jssor.slider.mini.js',
        'assets/javascript/jquery-ui/ui/minified/datepicker.min.js',
        'assets/javascript/countdown/jquery.plugin.min.js',
        'assets/javascript/countdown/jquery.countdown.min.js',
        'assets/javascript/jquery-mousewheel/jquery.mousewheel.min.js',
        'assets/javascript/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js',
        'assets/javascript/jQuery.dotdotdot/src/js/jquery.dotdotdot.min.js',
        'assets/javascript/elevatezoom-master/jquery.elevatezoom.js',
        'assets/javascript/FancyBox/source/jquery.fancybox.js',
    ]| theme }}"></script>
    <!-- endbuild -->
    <!-- build:js assets/scripts/main-min.js -->
    <script type="text/javascript"  src="{{'assets/javascript/main.js' | theme}}"></script>
    <!-- endbuild -->
    <script type="text/javascript" >(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-57387972-1');ga('send','pageview');</script>

    {% framework extras %}
    {% scripts %}

    </body>
</html>
