.cursor-pointer{cursor:pointer;}

.flex{
    display: flex;
    align-items: center;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-qty{
    font-size: 20px;
}

.mr-lr-md{
    margin: 0 10px;
}

.mr-r-md{
    margin-right: 10px;
}


.delivery_name{
    width: 144px;
    display: inline-block;
}


.fw500{
    font-weight: 500;
}

.ro-checkout-process .ro-hr-line .active-checkout{
    background: #84C340;
}

.delivery-circle{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid #84C340;
    display: inline-block;
}

.delivery-circle.active{
    background: #84C340;
}

.mr-t-lg{
    margin-top: 26px;
}

#checkout_end{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: white;
    top: 0;
    left: 0;
    z-index: 999;
    flex-direction: column;
}

#checkout_end.none{
    display: none;
}