{% for item in methods %}
<label>
    <a class='flex click-method' data-request="onSendPriceChange" data-name="{{item.class_name}}"
    data-request-data="delivery_id : {{ item.id }}, delivery_price: {{ item.price_change }}">
    <span class="delivery-circle {%if item.id==3%}active{%endif%} mr-r-md"></span>
    <span> <span class="delivery_name fw500">{{ item.name }}</span>
        &nbsp;&nbsp;<i>{{item.price_change}} Р.</i></span>
    </a>
</label>
<br>
{% endfor %}


