{% for item in Basket.products%}
<div class="ro-item ro-product-2">
    <div class="ro-image">
        <a href="product.html">
            <img src="{{ item.img }}" alt="Cart Item" /></a></div>
    <div>
        <div class="ro-name">
            <a href="product.html">{{ item.name }}</a></div>
        <div class="ro-quantity">
            <p>x<span>{{ item.qty }}</span></p>
        </div>
    </div>
    <div>
        <div class="ro-price">
            <p>{{ item.price }} Р.</p> 
        </div>
    </div>
</div>
{% endfor %}