<div style="flex-direction: column;display: flex">
    <div>
        <button type="button" class="close m-r m-t" data-dismiss="modal">&times;</button>
    </div>


   <div style="padding:20px; display: flex">
       <div style="width: 40%; height: 265px;">
            <img style="height:100%; max-width: 100%;" src="<?= $product->images[0]->path ?>" alt="">
       </div>
       <div style="width: 60%">
        <h3><?= $product['name'] ?></h3>
            <ul>
                <li>Цена: <b><?= $product['price'] ?> </b> Р.</li>
                <li>Цена со скидкой: <b><?= $product['discount_price'] ?></b> Р.</li>
                <li>Категория: <b><?= $product->category['name'] ?></b></li>
                <p><?= $product['description']?></p>
                <a class="btn btn-primary btn-sm m-t oc-icon-cogs" href="/backend/snapix/catalog/products/update/<?= $product['id'] ?>">Редактировать</a>
            </ul>
       </div>
   </div>

</div>