<?= Form::open() ?>
<input type="hidden" name="list_id" value="<?= $model_id ?>">

<?php if($contents == null) {?>
    <?php $ids[] = 1  ?>
    <?php } else{?>
    <?php foreach($contents as $item) {?>
    <?php $ids[] = $item['id']  ?>
    <?php }?>
    <?php }?>
    
    <div class="control-list" id="itemList">
        <div class="scoreboard" style="display: flex">
            <div data-control="toolbar">
                <div class="scoreboard-item title-value m-b">
    
    
                    <h4>Итого: </h4>
                    <p><?= $total_price ?> Р.</p>
                </div>
    
                <div class="scoreboard-item title-value">
                    <h4>Кол-во товара</h4>
                    <p class="">
                        <?= count($contents) ?> шт.
                    </p>
                </div>

                <?php if($promo_code != 0): ?>
                <div class="scoreboard-item title-value">
                    <h4>Промокод</h4>
                    <p class="">
                            <?= \Snapix\Catalog\Models\PromoCode::where('id', '=', $promo_code)->first()->code; ?>
                    </p>
                    <p class="description">
                        <?= ($promo_code == 1) 
                        ? 'Стоимость доставки'
                        : 'Стоимость заказа' ?>
                    </p>
                </div>
                <?php endif; ?>


               
                <div class="delivery-block">

                <select class="form-control custom-select select-no-search" style="width: 200px; margin-top: 30px;"
                data-request="onDeliveryMethod" 
                data-request-loading="#loading"
                name="delivery_id">
                <?php foreach(\Snapix\Catalog\Models\DeliveryMethod::all() as $item ): ?>
                    <option value="<?= $item->id ?>"
                    <?= ($item->id == $delivery_method->id) ? 'selected' : '' ?> >
                    <?= $item->name ?>
                    </option>
                    
                <?php endforeach; ?>
            </select>

            <div class="loading-indicator-container" id="loading" style="display:none">
                    <div class="loading-indicator">
                        <span></span>
                        <div>Обновление...</div>
                    </div>
                </div>
                </div>
            </div>
    
            <div>
                <a href="javascript:;" class="btn btn-primary oc-icon-plus" data-control="popup" data-handler="onAddItemForm"
                    data-request-data="model_id: <?= $model_id ?>, ids: <?= json_encode($ids) ?>" data-toggle="tooltip"
                    data-size="large" data-dismiss="modal">Добавить товар</a>
            </div>
    
        </div>
        <table class="table data" data-control="rowlink">
                <thead class="bg-s">
                    <tr>
                        <th></th>
                        <th><a>ID</a></th>
                        <th><a>Имя</a></th>
                        <th><a>Цвет</a></th>
                        <th><a>Размер</a></th>
                        <th><a>Цена</a></th>
                        <th><span>Общая стоимость</span></th>
                        <th><span>Количество</span></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <?php if ($contents) {?>
                        <?php foreach($contents as $item){ ?>
                            <tr>
                                <td class="column-button nolink" style="width: 210px;">
                                    <a 
                                    class="btn btn-primary btn-sm oc-icon-info"
                                    href="javascript:;" 
                                    data-control="popup" 
                                    data-handler="onLoadInfoProduct" 
                                    data-request-data=" product_id: <?= $item['id'] ?>"
                                    data-size="large" style="cursor:pointer;">
                                        Информация о товаре
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:;" 
                                    data-control="popup" 
                                    data-handler="onLoadUpdateItemForm"
                                    data-request-data="
                                        model_id:     <?= $model_id ?>,
                                        id:           <?= $item['id'] ?>,
                                        size:         '<?= $item['size'] ?>',
                                        color:        '<?= $item['color'] ?>',
                                        name:         '<?= str_replace('"', "", $item['name'])  ?>',
                                        price:        <?= $item['price'] ?>,
                                        total_price : <?= $item['total_price'] ?>,
                                        qty :         <?= $item['qty'] ?>,"
                                    data-size="large" style="cursor:pointer"></a>
                                    <?=  $item['id'] ?>
                                </td>
                                <td>
                                    <?=  $item['name'] ?>
                                </td>
                                <td>
                                    <?=  $item['color'] ?>
                                </td>
                                <td>
                                    <?=  $item['size'] ?>
                                </td>
                                <td>
                                    <?=  $item['price'] ?>
                                </td>
                                <td>
                                    <?=  $item['total_price'] ?>
                                </td>
                                <td>
                                    <?=  $item['qty'] ?>
                                </td>

                    
                            </tr>
                            <?php }?>
                    <?php }?>
            
                    
                </tbody>
            </table>
        </div>
<? Form::close() ?>