<?= Form::open() ?>


<input type="hidden" name="list_id" value="<?= $model_id ?>">


<div class="form-elements p-a">

    <button type="button" class="close" data-dismiss="modal">&times;</button>

    <div class="form-group span-full">
        <label>Кол-во</label>
        <input type="number" step="1" min="1" max="1000" pattern="-?\d+(\.\d+)?" maxlength="255"
        name="qty_content" value="<?= $qty ?>" class="form-control" />
    </div>

    <div class="form-group span-full">
        <label>Название товара</label>
        <input type="text" name="" value="<?= $name ?>" class="form-control" readonly="readonly" />
    </div>



    <div class="flex-end">
        <a 
            class="btn btn-primary oc-icon-refresh"
            data-request="onUpdateItem"
            data-request-loading="#loading"
            data-request-data="item_id: <?= $id ?>, redirect: 0"
            data-toggle="tooltip"
            data-dismiss="modal">Обновить</a>
        <a 
            class="btn btn-danger m-l oc-icon-remove"
            data-request-loading="#loading"
            data-request="onDeliteItem"
            data-request-data="item_id: <?= $id ?>"
            data-toggle="tooltip"
            data-dismiss="modal">Удалить</a>
    </div>
</div>


<? Form::close() ?>