<?= Form::open() ?>

<input type="hidden" name="list_id" value="<?= $model_id ?>">

<button type="button" class="close m-r m-t" data-dismiss="modal">&times;</button>

<div class="form-elements p-a">
    <div class="flex-end m-t">

        <div class="form-group dropdown-field">
            <label>Выберете продукт:</label>
            <select name="selected_product" class="form-control custom-select">
                <?php foreach($products as $item){ ?>
                <option value="<?= $item->id ?>">
                    <?= $item->name ?>
                </option>
                <?php }?>
            </select>
        </div>

        <div class="form-group dropdown-field span-left">
            <label>Выберете цвет:</label>
            <select name="selected_color" class="form-control custom-select" >
                <?php foreach($colors as $item){ ?>
                <option value="<?= $item->name ?>">
                    <?= $item->name ?>
                </option>
                <?php }?>
            </select>
        </div>

        <div class="form-group dropdown-field span-right">
            <label>Выберете размер:</label>
            <select name="selected_size" class="form-control custom-select">
                <?php foreach($sizes as $item){ ?>
                <option value="<?= $item->name ?>">
                    <?= $item->name ?>
                </option>
                <?php }?>
            </select>
        </div>
            

            <div class="form-group span-full">
                <label>Кол-во</label>
                <input type="number" step="1" min="1" max="1000" pattern="-?\d+(\.\d+)?" maxlength="255" name="qty_content"
                    value="1" class="form-control" />
            </div>
        </div>

        <a class="btn btn-primary oc-icon-plus" data-request="onAddProduct" data-toggle="tooltip" data-dismiss="modal">Добавить</a>

    </div>
</div>


<? Form::close() ?>