.result-price{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.lt-md{letter-spacing: 5px;}
.lt-sm{letter-spacing:2px;}
.bold{font-weight: 800;}

.fs-md{ font-size: 20px; }


.c-primary{ color: #525252;}


.relative{position: relative;}

.link-all-block{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.buttons-one{
    width: 301px;
}

.btn-bottom{
    bottom: 0;
    position: absolute;
}


.delivery-block{
    position: relative;
    width: 200px;
    display: inline-block;
}

.delivery-block #loading{
    position: absolute;
    top: 0;
    background: #f9f9f9;
    width: 200px;
}