<footer class="ro-section">
        <div class="container">
          <div class="ro-main-footer">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 ro-footer-item">
                <h5 class="flex">
                <i class="icon-185078-email-mail-streamline mr-r-md"></i> ПОЧТА</h5>
                <p>info@domain.com /<br/>hello.domain.com<br/>123.645.87 / 028.299.024</p><a href="#" class="ro-btn-bd-1 hvr-radial-out">ОСТАЛИСЬ ВОПРОСЫ ?</a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-5 col-xs-12 ro-footer-item">
                <h5 class="flex">
                <i class="icon-basic-postcard mr-r-md"></i> НАШ АДРЕС</h5>
                <p>23д ст.м Арбатская<br/> офис №322</p><br class="hidden-xs"/>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 ro-footer-item ro-open-time">
                <h5 class="flex"> 
                <i class="icon-185092-clock-streamline-time mr-r-md"></i> ВРЕМЯ РАБОТЫ</h5>
                <p>8:00 - 11:30</p>
                <p>2:00 - 5:30</p>
                <p>7:00 - 10:00</p>
              </div>
              <div class="col-lg-1 visible-lg">
                <div class="ro-footer-separator"></div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-7 col-xs-12 ro-footer-item">
                <h5>НОВОСТНАЯ ПОДПИСКА</h5>
                <div class="ro-footer-newletter">
                  <input type="text"/><a href="#"><i class="icon-basic-mail-open-text"></i></a>
                </div>
                <ul class="ro-social">
                  <li><a href="#"><i class="icon-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-gplus"></i></a></li>
                  <li><a href="#"><i class="icon-stumbleupon"></i></a></li>
                  <li><a href="#"><i class="icon-tumblr"></i></a></li>
                  <li><a href="#"><i class="icon-vimeo"></i></a></li>
                  <li><a href="#"><i class="icon-pinterest"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-instagrem"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="ro-foot-footer">
            <h6>© 2019 SNAPIX СОЗДАНИ САЙТОВ</h6>
          </div>
        </div>
      </footer>