

{% for main in main_category %}
{% endfor %}

<nav id="ro-main-nav" class="ro-main-nav-shop">
  <div class="container">
    <div class="ro-brand"><a href="{{ 'homepage' | page }}">
      <h1>SNAPIX.SHOP</h1>
    </div>
    <div class="ro-nav-content-wrapper">
      <div class="row">
        <div class="col-md-12">
          <ul class="ro-nav text-center">


            {% for main in main_category %}
            <li>
                <a href="" data-toggle="dropdown" role="link" aria-expanded="false" class="btn dropdown-toggle">
                  {{ main.name }}<i class="icon-expand22"></i></a>
                <ul role="menu" class="dropdown-menu">
                  {% for child in main.child_category %}
                  <li><a href="/shop/{{ child.slug }}">{{ child.name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}




          </ul>
        </div>
        <a href="{{ 'cart' | page }}" class="co-count">
          {% partial 'cart/_header' %}
        </a>
      </div>
    </div>
  </div>
</nav>