{% for item in Basket.products %}
<tr class="ro-cart-item ro-product-2">
    <td><a href="product.html"><img src="{{ item.img }}" alt="Cart Item" /></a></td>
    <td><a href="product.html">{{ item.name }}</a></td>
    <td class="text-center">{{ item.price }} Р.</td>
    <td>
        <div class="flex-center red">
            <a data-request="onPlusCart" data-request-data="id: {{ item.id }}">
                <i class="icon-plus cart-qty cursor-pointer"></i>
            </a>
            <span class="mr-lr-md">{{ item.qty }}</span>
            <a data-request="onMinusCart" data-request-data="id: {{ item.id }}">
                <i class="icon-minus cart-qty cursor-pointer"></i>
            </a>
        </div>
    </td>
    <td class="text-center">{{ item.total_price }} Р.</td>
</tr>
{% endfor %}