<div data-content=
"
{% if Basket.cartCount != 0 %}
{{ Basket.cartCount }}
{% else %}
0
{% endif %}
" class="ro-cart">
    {% if Basket.totalPrice != 0 %}
    {{ Basket.totalPrice }} Р.
    {% else %}
    0 Р.
    {% endif %}
    <i class="icon-ecommerce-cart-content"></i>
</div>
