<?php if($record['enabled'] == 1) {?>
    <span class="oc-icon-circle text-muted" style="color:green"><?php echo $value; ?></span>
<?php } else {?>
    <span class="oc-icon-circle text-muted" style="color:red"><?php echo $value; ?></span>
<?php }?>